In [1]:
# import modules
import pandas as pd

In [2]:
# read in csv file as a pandas dataframe
df = pd.read_csv('C:\\TFL Urban Planning Project\\Nov09JnyExport.csv')

In [3]:
# explore head of data
print(df.head())

   downo daytype SubSystem   StartStn           EndStation  EntTime
0      3     Tue       LUL  Unstarted        Kings Cross M        0  \
1      4     Wed       LUL  Unstarted         Sudbury Hill        0
2      3     Tue        NR  Unstarted             Richmond        0
3      4     Wed        NR  Unstarted              Romford        0
4      6     Fri        NR  Unstarted  Norwood Junction SR        0

  EntTimeHHMM  ExTime EXTimeHHMM  ZVPPT JNYTYP DailyCapping  FFare  DFare
0       00:00     633      10:33  Z0104    TKT            N      0      0  \
1       00:00     447      07:27  Z0110    TKT            N      0      0
2       00:00     966      16:06  Z0304    TKT            N      0      0
3       00:00     657      10:57  Z0110    TKT            N      0      0
4       00:00     450      07:30  Z0104    TKT            N      0      0

  RouteID            FinalProduct
0      XX    LUL Travelcard-7 Day
1      XX  Freedom Pass (Elderly)
2      XX    LUL Travelcard-7 Day
3      XX  Freedom Pass (Elderly)
4      XX    LUL Travelcard-7 Day

In [4]:
# count the number of cells in 'EntTimeHHMM' column that contains '00:00'
entcount = df[df['EntTimeHHMM'] == '00:00'].shape[0]
print(entcount)

45989

In [5]:
# count the number of cells in 'EXTimeHHMM' column that contains '00:00'
extcount = df[df['EXTimeHHMM'] == '00:00'].shape[0]
print(extcount)

1812168

In [6]:
# remove rows that contain EntTimeHHMM and EXTimeHHMM which have the values '00:00'

df = df[(df['EntTimeHHMM'] != '00:00') & (df['EXTimeHHMM'] != '00:00')]

In [7]:
# remove busses from the data set as the data is incomplete
df = df.drop('RouteID', axis=1)
df = df[~df['SubSystem'].str.contains('LTB')]

In [8]:
# i noticed from the data some of the stations say unstarted, i would like to remove those since i want to get a view of the whole journeys, incomplete journeys are of no use
print(sorted(df['StartStn'].unique()))

['ADDNGTN VIL TRAM              ', 'AMPERE WAY TRAM               ', 'ARENA TRAM                    ', 'Acton Central', 'Acton Main Line', 'Acton Town', 'Aldgate', 'Aldgate East', 'All Saints', 'Alperton', 'Amersham', 'Angel', 'Archway', 'Arnos Grove', 'Arsenal', 'BECKENHM JN TRAM              ', 'BECKENHM RD TRAM              ', 'BEDDNGTN LN TRAM              ', 'BELGRAVE WK TRAM              ', 'BIRKBECK TRAM                 ', 'BLCKHRS LNE TRAM              ', 'Baker Street', 'Balham', 'Balham NR', 'Bank', 'Barbican', 'Barking', 'Barkingside', 'Barons Court', 'Battersea Park', 'Bayswater', 'Beckton', 'Beckton Park', 'Becontree', 'Bellingham', 'Belsize Park', 'Bermondsey', 'Bethnal Green', 'Bethnal Green NR', 'Blackfriars', 'Blackhorse Road', 'Blackwall', 'Bond Street', 'Borough', 'Boston Manor', 'Bounds Green', 'Bow Church', 'Bow Road', 'Brent Cross', 'Brixton', 'Brockley', 'Bromley By Bow', 'Brondesbury', 'Brondesbury Park', 'Buckhurst Hill', 'Burnt Oak', 'Bushey', 'CHURCH STRT TRAM              ', 'COOMBE LANE TRAM              ', "Caledonian Rd&B'sby", 'Caledonian Road', 'Cambridge Heath', 'Camden Road', 'Camden Town', 'Canada Water', 'Canary Wharf', 'Canary Wharf DLR', 'Canary Wharf E2', 'Canning Town', 'Cannon Street', 'Canonbury', 'Canons Park', 'Carpenders Park', 'Carshalton', 'Castle Bar Park', 'Chalfont & Latimer', 'Chalk Farm', 'Chancery Lane', 'Charing Cross', 'Chesham', 'Chigwell', 'Chiswick Park', 'Chorleywood', 'City Thameslink', 'Clapham Common', 'Clapham Junction', 'Clapham North', 'Clapham South', 'Clapton', 'Cockfosters', 'Colindale', 'Colliers Wood', 'Covent Garden', 'Crossharbour', 'Crouch Hill', 'Croxley', 'Crystal Palace', 'Custom House DLR', 'Cutty Sark', 'Cyprus', 'DUNDONLD RD TRAM              ', 'Dagenham Dock', 'Dagenham East', 'Dagenham Heathway', 'Dalston Kingsland', 'Debden', 'Deptford Bridge', 'Devons Road', 'Dollis Hill', 'Drayton Green', 'Drayton Pk', 'EAST CROYDON TRAM             ', 'ELMERS END TRAM               ', 'Ealing Broadway', 'Ealing Common', 'Earls Court', 'East Acton', 'East Croydon', 'East Finchley', 'East Ham', 'East India', 'East Putney', 'Eastcote', 'Edgware', 'Edgware Road B', 'Edgware Road M', 'Elephant & Castle', 'Elm Park', 'Elverson Road', 'Embankment', 'Epping', 'Essex Road', 'Euston', 'Euston NR', 'Euston Square', 'FIELD WAY TRAM                ', 'Fairlop', 'Farringdon', 'Fenchurch St NR', 'Finchley Central', 'Finchley Rd & Frognal', 'Finchley Road', 'Finsbury Park', 'Forest Hill', 'Fulham Broadway', 'GEORGE STRT TRAM              ', 'GRAVEL HILL TRAM              ', 'Gallions Reach', 'Gants Hill', 'Gloucester Road', 'Golders Green', 'Goldhawk Road', 'Goodge Street', 'Gospel Oak', 'Grange Hill', 'Great Portland St', 'Green Park', 'Greenford', 'Greenwich DLR', 'Gunnersbury', 'Hackney Central', 'Hackney Downs', 'Hackney Wick', 'Hainault', 'Hammersmith D', 'Hammersmith M', 'Hampstead', 'Hampstead Heath', 'Hanger Lane', 'Hanwell', 'Harlesden', 'Harringay', 'Harringay Green Las', 'Harrow On The Hill', 'Harrow Wealdstone', 'Hatch End', 'Hatton Cross', 'Hayes & Harlington', 'Headstone Lane', 'Heathrow Term 4', 'Heathrow Term 5', 'Heathrow Terms 123', 'Hendon Central', 'Heron Quays', 'High Barnet', 'High Street Kens', 'Highbury', 'Highgate', 'Hillingdon', 'Holborn', 'Holland Park', 'Holloway Road', 'Homerton', 'Honor Oak Park', 'Hornchurch', 'Hounslow Central', 'Hounslow East', 'Hounslow West', 'Hyde Park Corner', 'Ickenham', 'Ilford', 'Imperial Wharf', 'Island Gardens', 'Kennington', 'Kensal Green', 'Kensal Rise', 'Kensington Olympia', 'Kentish Town', 'Kentish Town West', 'Kenton', 'Kew Gardens', 'Kilburn', 'Kilburn High Road', 'Kilburn Park', 'King George V', 'Kings Cross', 'Kings Cross M', 'Kings Cross T', 'Kingsbury', 'Knightsbridge', 'LLOYD PARK TRAM               ', 'Ladbroke Grove', 'Lambeth North', 'Lancaster Gate', 'Langdon Park', 'Latimer Road', 'Leicester Square', 'Lewisham DLR', 'Leyton', 'Leyton Midland Road', 'Leytonstone', 'Leytonstone High Rd', 'Limehouse DLR', 'Limehouse NR', 'Liverpool St NR', 'Liverpool Street', 'London Bridge', 'London City Airport', 'London Fields', 'Loughton', 'MERTON PARK TRAM              ', 'MITCHAM JCN TRAM              ', 'MITCHAM TRAM                  ', 'MORDEN ROAD TRAM              ', 'Maida Vale', 'Manor House', 'Mansion House', 'Marble Arch', 'Marylebone', 'Marylebone NR', 'Mile End', 'Mill Hill East', 'Monument', 'Moor Park', 'Moorgate', 'Morden', 'Mornington Crescent', 'Mudchute', 'NEW ADDNGTH TRAM              ', 'Neasden', 'New Cross', 'Newbury Park', 'Norbury', 'North Acton', 'North Ealing', 'North Greenwich', 'North Harrow', 'North Wembley', 'Northfields', 'Northolt', 'Northolt Park', 'Northwick Park', 'Northwood', 'Northwood Hills', 'Norwood Junction SR', 'Notting Hill Gate', 'Oakwood', 'Old Street', 'Osterley', 'Oval', 'Oxford Circus', 'PHIPPS BRDG TRAM              ', 'Paddington', 'Paddington FGW', 'Park Royal', 'Parsons Green', 'Peckham Rye', 'Perivale', 'Piccadilly Circus', 'Pimlico', 'Pinner', 'Plaistow', 'Pontoon Dock', 'Poplar', 'Preston Road', 'Prince Regent', 'Pudding Mill Lane', 'Purley', 'Putney Bridge', 'Queens Park', 'Queensbury', 'Queensway', 'Rainham Essex', 'Ravenscourt Park', 'Rayners Lane', 'Rectory Road', 'Redbridge', 'Regents Park', 'Richmond', 'Rickmansworth', 'Roding Valley', 'Romford', 'Royal Albert', 'Royal Oak', 'Royal Victoria', 'Ruislip', 'Ruislip Gardens', 'Ruislip Manor', 'Russell Square', 'SANDILANDS TRAM               ', 'Seven Sisters', 'Shadwell DLR', "Shepherd's Bush Mkt", "Shepherd's Bush NR", "Shepherd's Bush Und", 'Sloane Square', 'Snaresbrook', 'South Acton', 'South Croydon', 'South Ealing', 'South Greenford', 'South Hampstead', 'South Harrow', 'South Kensington', 'South Kenton', 'South Quay', 'South Ruislip', 'South Tottenham', 'South Wimbledon', 'South Woodford', 'Southall', 'Southfields', 'Southgate', 'Southwark', 'St James Street', "St James's Park", 'St Johns Wood', 'St Pancras International', 'St Pauls', 'Stamford Brook', 'Stamford Hill', 'Stanmore', 'Stepney Green', 'Stockwell', 'Stoke Newington', 'Stonebridge Park', 'Stratford', 'Streatham', 'Streatham Common', 'Sudbury Hill', 'Sudbury Hill Harrow', 'Sudbury Town', 'Sudbury&Harrow Rd', 'Sutton Surrey', 'Swiss Cottage', 'Sydenham SR', 'TAMWORTH RD TRAM              ', 'THERAPIA LN TRAM              ', 'Temple', 'Theydon Bois', 'Thornton Heath', 'Tooting Bec', 'Tooting Broadway', 'Tottenham Court Rd', 'Tottenham Hale', 'Totteridge', 'Tower Gateway', 'Tower Hill', 'Tufnell Park', 'Tulse Hill', 'Turnham Green', 'Turnpike Lane', 'Unstarted', 'Upminster', 'Upminster Bridge', 'Upney', 'Upper Holloway', 'Upton Park', 'Uxbridge', 'Vauxhall', 'Victoria', 'Victoria TOCs', 'WADDON MARSH TRAM             ', 'WANDLE PARK TRAM              ', 'WOODSIDE TRAM                 ', 'Wallington', 'Walthamstow Central', 'Walthamstow Qns R', 'Wanstead', 'Wanstead Park', 'Warren Street', 'Warwick Avenue', 'Waterloo', 'Waterloo JLE', 'Watford High Street', 'Watford Junction', 'Watford Met', 'Wembley Central', 'Wembley Park', 'Wembley Stadium', 'West Acton', 'West Brompton', 'West Croydon', 'West Drayton', 'West Ealing', 'West Finchley', 'West Ham', "West Hampst'd NL", "West Hampst'd Tlink", 'West Hampstead', 'West Harrow', 'West India Quay', 'West Kensington', 'West Norwood', 'West Ruislip', 'West Silvertown', 'Westbourne Park', 'Westferry', 'Westminster', 'White City', 'Whitechapel', 'Willesden Green', 'Willesden Junction', 'Wimbledon', 'Wimbledon Park', 'Wood Green', 'Wood Lane', 'Woodford', 'Woodgrange Park', 'Woodside Park', 'Woolwich Arsenal DLR']

In [9]:
# do the same for end station
print(sorted(df['EndStation'].unique()))

['Acton Central', 'Acton Main Line', 'Acton Town', 'Aldgate', 'Aldgate East', 'All Saints', 'Alperton', 'Amersham', 'Angel', 'Archway', 'Arnos Grove', 'Arsenal', 'Baker Street', 'Balham', 'Balham SCL', 'Bank', 'Barbican', 'Barking', 'Barkingside', 'Barons Court', 'Battersea Park', 'Bayswater', 'Beckton', 'Beckton Park', 'Becontree', 'Belsize Park', 'Bermondsey', 'Bethnal Green', 'Bethnal Green NR', 'Blackfriars', 'Blackhorse Road', 'Blackwall', 'Bond Street', 'Borough', 'Boston Manor', 'Bounds Green', 'Bow Church', 'Bow Road', 'Brent Cross', 'Brixton', 'Brockley', 'Bromley By Bow', 'Brondesbury', 'Brondesbury Park', 'Buckhurst Hill', 'Burnt Oak', 'Bushey', "Caledonian Rd&B'sby", 'Caledonian Road', 'Cambridge Heath', 'Camden Road', 'Camden Town', 'Canada Water', 'Canary Wharf', 'Canary Wharf DLR', 'Canary Wharf E2', 'Canning Town', 'Cannon Street', 'Canonbury', 'Canons Park', 'Carpenders Park', 'Carshalton', 'Castle Bar Park', 'Chalfont & Latimer', 'Chalk Farm', 'Chancery Lane', 'Charing Cross', 'Chesham', 'Chigwell', 'Chiswick Park', 'Chorleywood', 'City Thameslink', 'Clapham Common', 'Clapham Junction', 'Clapham North', 'Clapham South', 'Clapton', 'Cockfosters', 'Colindale', 'Colliers Wood', 'Covent Garden', 'Crossharbour', 'Crouch Hill', 'Croxley', 'Crystal Palace', 'Custom House DLR', 'Cutty Sark', 'Cyprus', 'Dagenham Dock', 'Dagenham East', 'Dagenham Heathway', 'Dalston Kingsland', 'Debden', 'Deptford Bridge', 'Devons Road', 'Dollis Hill', 'Drayton Green', 'Drayton Pk', 'Ealing Broadway', 'Ealing Common', 'Earls Court', 'East Acton', 'East Croydon', 'East Finchley', 'East Ham', 'East India', 'East Putney', 'Eastcote', 'Edgware', 'Edgware Road B', 'Edgware Road M', 'Elephant & Castle', 'Elm Park', 'Elverson Road', 'Embankment', 'Epping', 'Essex Road', 'Euston', 'Euston NR', 'Euston Square', 'FENCHURCH ST NR', 'Fairlop', 'Farringdon', 'Finchley Central', 'Finchley Rd & Frognal', 'Finchley Road', 'Finsbury Park', 'Forest Hill', 'Fulham Broadway', 'Gallions Reach', 'Gants Hill', 'Gloucester Road', 'Golders Green', 'Goldhawk Road', 'Goodge Street', 'Gospel Oak', 'Grange Hill', 'Great Portland St', 'Green Park', 'Greenford', 'Greenwich DLR', 'Gunnersbury', 'Hackney Central', 'Hackney Downs', 'Hackney Wick', 'Hainault', 'Hammersmith D', 'Hammersmith M', 'Hampstead', 'Hampstead Heath', 'Hanger Lane', 'Hanwell', 'Harlesden', 'Harringay Green Las', 'Harrow On The Hill', 'Harrow Wealdstone', 'Hatch End', 'Hatton Cross', 'Hayes & Harlington', 'Headstone Lane', 'Heathrow Term 4', 'Heathrow Term 5', 'Heathrow Terms 123', 'Hendon Central', 'Heron Quays', 'High Barnet', 'High Street Kens', 'Highbury', 'Highgate', 'Hillingdon', 'Holborn', 'Holland Park', 'Holloway Road', 'Homerton', 'Honor Oak Park', 'Hornchurch', 'Hounslow Central', 'Hounslow East', 'Hounslow West', 'Hyde Park Corner', 'Ickenham', 'Ilford', 'Imperial Wharf', 'Island Gardens', 'Kennington', 'Kensal Green', 'Kensal Rise', 'Kensington Olympia', 'Kentish Town', 'Kentish Town West', 'Kenton', 'Kew Gardens', 'Kilburn', 'Kilburn High Road', 'Kilburn Park', 'King George V', 'Kings Cross', 'Kings Cross M', 'Kings Cross T', 'Kingsbury', 'Knightsbridge', 'Ladbroke Grove', 'Lambeth North', 'Lancaster Gate', 'Langdon Park', 'Latimer Road', 'Leicester Square', 'Lewisham DLR', 'Leyton', 'Leyton Midland Road', 'Leytonstone', 'Leytonstone High Rd', 'Limehouse DLR', 'Limehouse NR', 'Liverpool St WAGN TOC Gates', 'Liverpool Street', 'London Bridge', 'London City Airport', 'London Fields', 'Loughton', 'Maida Vale', 'Manor House', 'Mansion House', 'Marble Arch', 'Marylebone', 'Marylebone NR', 'Mile End', 'Mill Hill East', 'Monument', 'Moor Park', 'Moorgate', 'Morden', 'Mornington Crescent', 'Mudchute', 'Neasden', 'New Cross', 'Newbury Park', 'Norbury', 'North Acton', 'North Ealing', 'North Greenwich', 'North Harrow', 'North Wembley', 'Northfields', 'Northolt', 'Northolt Park', 'Northwick Park', 'Northwood', 'Northwood Hills', 'Norwood Junction SR', 'Not Applicable', 'Notting Hill Gate', 'Oakwood', 'Old Street', 'Osterley', 'Oval', 'Oxford Circus', 'Paddington', 'Paddington FGW', 'Park Royal', 'Parsons Green', 'Peckham Rye', 'Perivale', 'Piccadilly Circus', 'Pimlico', 'Pinner', 'Plaistow', 'Pontoon Dock', 'Poplar', 'Preston Road', 'Prince Regent', 'Pudding Mill Lane', 'Purley', 'Putney Bridge', 'Queens Park', 'Queensbury', 'Queensway', 'Rainham Essex', 'Ravenscourt Park', 'Rayners Lane', 'Rectory Road', 'Redbridge', 'Regents Park', 'Richmond', 'Rickmansworth', 'Roding Valley', 'Romford', 'Royal Albert', 'Royal Oak', 'Royal Victoria', 'Ruislip', 'Ruislip Gardens', 'Ruislip Manor', 'Russell Square', 'Seven Sisters', 'Shadwell DLR', "Shepherd's Bush Mkt", "Shepherd's Bush NR", "Shepherd's Bush Und", 'Sloane Square', 'Snaresbrook', 'South Acton', 'South Croydon', 'South Ealing', 'South Greenford', 'South Hampstead', 'South Harrow', 'South Kensington', 'South Kenton', 'South Quay', 'South Ruislip', 'South Tottenham', 'South Wimbledon', 'South Woodford', 'Southall', 'Southfields', 'Southgate', 'Southwark', 'St James Street', "St James's Park", 'St Johns Wood', 'St Pancras International', 'St Pauls', 'Stamford Brook', 'Stamford Hill', 'Stanmore', 'Stepney Green', 'Stockwell', 'Stoke Newington', 'Stonebridge Park', 'Stratford', 'Streatham', 'Streatham Common', 'Sudbury Hill', 'Sudbury Hill Harrow', 'Sudbury Town', 'Sudbury&Harrow Rd', 'Sutton Surrey', 'Swiss Cottage', 'Sydenham SR', 'Temple', 'Theydon Bois', 'Thornton Heath', 'Tooting Bec', 'Tooting Broadway', 'Tottenham Court Rd', 'Tottenham Hale', 'Totteridge', 'Tower Gateway', 'Tower Hill', 'Tufnell Park', 'Tulse Hill', 'Turnham Green', 'Turnpike Lane', 'Upminster', 'Upminster Bridge', 'Upney', 'Upper Holloway', 'Upton Park', 'Uxbridge', 'Vauxhall', 'Victoria', 'Victoria TOCs', 'WIMBLEDON TRAM                ', 'Wallington', 'Walthamstow Central', 'Walthamstow Qns R', 'Wanstead', 'Wanstead Park', 'Warren Street', 'Warwick Avenue', 'Waterloo', 'Waterloo JLE', 'Watford High Street', 'Watford Junction', 'Watford Met', 'Wembley Central', 'Wembley Park', 'Wembley Stadium', 'West Acton', 'West Brompton', 'West Croydon', 'West Drayton', 'West Ealing', 'West Finchley', 'West Ham', "West Hampst'd NL", "West Hampst'd Tlink", 'West Hampstead', 'West Harrow', 'West India Quay', 'West Kensington', 'West Norwood', 'West Ruislip', 'West Silvertown', 'Westbourne Park', 'Westferry', 'Westminster', 'White City', 'Whitechapel', 'Willesden Green', 'Willesden Junction', 'Wimbledon', 'Wimbledon Park', 'Wood Green', 'Wood Lane', 'Woodford', 'Woodgrange Park', 'Woodside Park', 'Woolwich Arsenal DLR']

In [10]:
# we want to remove 'Unstarted' and 'Unfinished' from our columns StartStn, EndStation
df = df[(df['StartStn'] != 'Unstarted') & (df['EndStation'] != 'Unfinished')]
df.head()

,downo,daytype,SubSystem,StartStn,EndStation,EntTime,EntTimeHHMM,ExTime,EXTimeHHMM,ZVPPT,JNYTYP,DailyCapping,FFare,DFare,FinalProduct
45989,2,Mon,LUL,Goodge Street,Totteridge,1000,16:40,1041,17:21,Z0110,TKT,N,0,0,Freedom Pass (Elderly)
45994,5,Thu,LUL,Preston Road,Northwood,1000,16:40,1024,17:04,Z0110,TKT,N,0,0,Freedom Pass (Disabled)
45998,5,Thu,LUL,Holborn,Bounds Green,1000,16:40,1028,17:08,Z0104,TKT,N,0,0,LUL Travelcard-Annual
46003,1,Sun,LUL,Earls Court,Pimlico,1000,16:40,1021,17:01,-------,PPY,N,160,160,PAYG
46005,3,Tue,LUL,Victoria,Bethnal Green,1000,16:40,1027,17:07,Z0102,TKT,N,0,0,LUL Travelcard-7 Day

In [11]:
# create a journey duration header
df['JourneyDuration'] = df['ExTime'] - df['EntTime']
df.head()

,downo,daytype,SubSystem,StartStn,EndStation,EntTime,EntTimeHHMM,ExTime,EXTimeHHMM,ZVPPT,JNYTYP,DailyCapping,FFare,DFare,FinalProduct,JourneyDuration
45989,2,Mon,LUL,Goodge Street,Totteridge,1000,16:40,1041,17:21,Z0110,TKT,N,0,0,Freedom Pass (Elderly),41
45994,5,Thu,LUL,Preston Road,Northwood,1000,16:40,1024,17:04,Z0110,TKT,N,0,0,Freedom Pass (Disabled),24
45998,5,Thu,LUL,Holborn,Bounds Green,1000,16:40,1028,17:08,Z0104,TKT,N,0,0,LUL Travelcard-Annual,28
46003,1,Sun,LUL,Earls Court,Pimlico,1000,16:40,1021,17:01,-------,PPY,N,160,160,PAYG,21
46005,3,Tue,LUL,Victoria,Bethnal Green,1000,16:40,1027,17:07,Z0102,TKT,N,0,0,LUL Travelcard-7 Day,27

In [12]:
# assess the journey duration data for any errors
df = df.sort_values('JourneyDuration', ascending=True)
df

,downo,daytype,SubSystem,StartStn,EndStation,EntTime,EntTimeHHMM,ExTime,EXTimeHHMM,ZVPPT,JNYTYP,DailyCapping,FFare,DFare,FinalProduct,JourneyDuration
282008,2,Mon,LUL,Southfields,Not Applicable,1064,17:44,967,16:07,-------,PPY,N,0,0,PAYG,-97
979397,5,Thu,LUL,East Ham,East Ham,349,05:49,348,05:48,-------,PPY,N,0,0,PAYG,-1
1013131,3,Tue,LUL/NR/DLR,Stratford,Stratford,390,06:30,389,06:29,-------,PPY,N,0,0,PAYG,-1
1803486,1,Sun,LUL,Waterloo,Waterloo,694,11:34,693,11:33,-------,PPY,N,0,0,PAYG,-1
757329,4,Wed,LUL,Holborn,Holborn,1267,21:07,1266,21:06,-------,PPY,N,0,0,PAYG,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1595412,5,Thu,LUL/LRC,Watford High Street,Heathrow Terms 123,593,09:53,742,12:22,-------,PPY,N,300,300,PAYG,149
2351343,6,Fri,LUL,Dagenham Heathway,Heathrow Terms 123,920,15:20,1071,17:51,-------,PPY,N,220,220,PAYG,151
2009501,7,Sat,LUL,Gants Hill,Heathrow Term 4,785,13:05,943,15:43,Z0104,MIX,N,110,110,LUL Travelcard-7 Day,158
1757047,7,Sat,LUL,Uxbridge,Edgware,672,11:12,833,13:53,-------,PPY,N,220,220,PAYG,161
152210,4,Wed,LUL/NR,Hainault,Watford Junction,1030,17:10,1192,19:52,-------,PPY,N,700,700,PAYG,162

In [13]:

# remove all the data with a negative journey duration
df = df[df['JourneyDuration'] > 0]

df = df.sort_values('JourneyDuration', ascending=True)
df

,downo,daytype,SubSystem,StartStn,EndStation,EntTime,EntTimeHHMM,ExTime,EXTimeHHMM,ZVPPT,JNYTYP,DailyCapping,FFare,DFare,FinalProduct,JourneyDuration
922813,7,Sat,LUL,Colliers Wood,Colliers Wood,1447,24:07,1448,24:08,-------,PPY,N,0,0,PAYG,1
2365340,7,Sat,LUL,Fulham Broadway,Fulham Broadway,924,15:24,925,15:25,-------,PPY,N,0,0,PAYG,1
826751,6,Fri,LUL,Stockwell,Stockwell,1327,22:07,1328,22:08,-------,PPY,N,0,0,PAYG,1
263073,3,Tue,NR,Euston NR,Euston NR,1059,17:39,1060,17:40,Z0110,TKT,N,0,0,Freedom Pass (Elderly),1
737582,1,Sun,LUL,Canary Wharf,Canary Wharf,1252,20:52,1253,20:53,-------,PPY,N,0,0,PAYG,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1595412,5,Thu,LUL/LRC,Watford High Street,Heathrow Terms 123,593,09:53,742,12:22,-------,PPY,N,300,300,PAYG,149
2351343,6,Fri,LUL,Dagenham Heathway,Heathrow Terms 123,920,15:20,1071,17:51,-------,PPY,N,220,220,PAYG,151
2009501,7,Sat,LUL,Gants Hill,Heathrow Term 4,785,13:05,943,15:43,Z0104,MIX,N,110,110,LUL Travelcard-7 Day,158
1757047,7,Sat,LUL,Uxbridge,Edgware,672,11:12,833,13:53,-------,PPY,N,220,220,PAYG,161
152210,4,Wed,LUL/NR,Hainault,Watford Junction,1030,17:10,1192,19:52,-------,PPY,N,700,700,PAYG,162

In [14]:
#remove all data with those who tap in and out of the same station
df = df[df['StartStn'] != df['EndStation']]

In [15]:
# Assess the data based on journey duration, I want to see as very short journeys could be errors
df = df.sort_values('JourneyDuration', ascending=True)

df

,downo,daytype,SubSystem,StartStn,EndStation,EntTime,EntTimeHHMM,ExTime,EXTimeHHMM,ZVPPT,JNYTYP,DailyCapping,FFare,DFare,FinalProduct,JourneyDuration
489103,6,Fri,NR,Balham NR,Balham SCL,1124,18:44,1125,18:45,Z0203,TKT,N,0,0,LUL Travelcard-7 Day,1
374884,4,Wed,LUL,Canary Wharf E2,Canary Wharf,1089,18:09,1090,18:10,Z0103,TKT,N,0,0,LUL Travelcard-1 Month,1
1310564,3,Tue,LUL,Canary Wharf E2,Canary Wharf,499,08:19,500,08:20,Z0102,TKT,N,0,0,LUL Travelcard-1 Month,1
1795264,6,Fri,LUL,Canary Wharf E2,Canary Wharf,691,11:31,692,11:32,Z0106,TKT,N,0,0,LUL Travelcard-7 Day,1
1649640,5,Thu,LUL,Canary Wharf E2,Canary Wharf,620,10:20,621,10:21,Z0106,TKT,N,0,0,LUL Travelcard-7 Day,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1595412,5,Thu,LUL/LRC,Watford High Street,Heathrow Terms 123,593,09:53,742,12:22,-------,PPY,N,300,300,PAYG,149
2351343,6,Fri,LUL,Dagenham Heathway,Heathrow Terms 123,920,15:20,1071,17:51,-------,PPY,N,220,220,PAYG,151
2009501,7,Sat,LUL,Gants Hill,Heathrow Term 4,785,13:05,943,15:43,Z0104,MIX,N,110,110,LUL Travelcard-7 Day,158
1757047,7,Sat,LUL,Uxbridge,Edgware,672,11:12,833,13:53,-------,PPY,N,220,220,PAYG,161
152210,4,Wed,LUL/NR,Hainault,Watford Junction,1030,17:10,1192,19:52,-------,PPY,N,700,700,PAYG,162

In [16]:
# checking for journey durations which equate to 1 and above to check for errors
df[df['JourneyDuration'] >= 1]
df

,downo,daytype,SubSystem,StartStn,EndStation,EntTime,EntTimeHHMM,ExTime,EXTimeHHMM,ZVPPT,JNYTYP,DailyCapping,FFare,DFare,FinalProduct,JourneyDuration
489103,6,Fri,NR,Balham NR,Balham SCL,1124,18:44,1125,18:45,Z0203,TKT,N,0,0,LUL Travelcard-7 Day,1
374884,4,Wed,LUL,Canary Wharf E2,Canary Wharf,1089,18:09,1090,18:10,Z0103,TKT,N,0,0,LUL Travelcard-1 Month,1
1310564,3,Tue,LUL,Canary Wharf E2,Canary Wharf,499,08:19,500,08:20,Z0102,TKT,N,0,0,LUL Travelcard-1 Month,1
1795264,6,Fri,LUL,Canary Wharf E2,Canary Wharf,691,11:31,692,11:32,Z0106,TKT,N,0,0,LUL Travelcard-7 Day,1
1649640,5,Thu,LUL,Canary Wharf E2,Canary Wharf,620,10:20,621,10:21,Z0106,TKT,N,0,0,LUL Travelcard-7 Day,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1595412,5,Thu,LUL/LRC,Watford High Street,Heathrow Terms 123,593,09:53,742,12:22,-------,PPY,N,300,300,PAYG,149
2351343,6,Fri,LUL,Dagenham Heathway,Heathrow Terms 123,920,15:20,1071,17:51,-------,PPY,N,220,220,PAYG,151
2009501,7,Sat,LUL,Gants Hill,Heathrow Term 4,785,13:05,943,15:43,Z0104,MIX,N,110,110,LUL Travelcard-7 Day,158
1757047,7,Sat,LUL,Uxbridge,Edgware,672,11:12,833,13:53,-------,PPY,N,220,220,PAYG,161
152210,4,Wed,LUL/NR,Hainault,Watford Junction,1030,17:10,1192,19:52,-------,PPY,N,700,700,PAYG,162

In [17]:
# now i want to remove where people tapped in and out of the station Balham SCL and Balham NR
df = df[(df['StartStn'] != 'Balham NR') | (df['EndStation'] != 'Balham SCL')]
df = df[(df['StartStn'] != 'Balham SCL') | (df['EndStation'] != 'Balham NR')]

df[df['JourneyDuration'] >= 1]
df

,downo,daytype,SubSystem,StartStn,EndStation,EntTime,EntTimeHHMM,ExTime,EXTimeHHMM,ZVPPT,JNYTYP,DailyCapping,FFare,DFare,FinalProduct,JourneyDuration
374884,4,Wed,LUL,Canary Wharf E2,Canary Wharf,1089,18:09,1090,18:10,Z0103,TKT,N,0,0,LUL Travelcard-1 Month,1
1310564,3,Tue,LUL,Canary Wharf E2,Canary Wharf,499,08:19,500,08:20,Z0102,TKT,N,0,0,LUL Travelcard-1 Month,1
1795264,6,Fri,LUL,Canary Wharf E2,Canary Wharf,691,11:31,692,11:32,Z0106,TKT,N,0,0,LUL Travelcard-7 Day,1
1649640,5,Thu,LUL,Canary Wharf E2,Canary Wharf,620,10:20,621,10:21,Z0106,TKT,N,0,0,LUL Travelcard-7 Day,1
391202,6,Fri,NR,Liverpool St NR,Liverpool St WAGN TOC Gates,1093,18:13,1094,18:14,-------,PPY,N,0,0,PAYG,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1595412,5,Thu,LUL/LRC,Watford High Street,Heathrow Terms 123,593,09:53,742,12:22,-------,PPY,N,300,300,PAYG,149
2351343,6,Fri,LUL,Dagenham Heathway,Heathrow Terms 123,920,15:20,1071,17:51,-------,PPY,N,220,220,PAYG,151
2009501,7,Sat,LUL,Gants Hill,Heathrow Term 4,785,13:05,943,15:43,Z0104,MIX,N,110,110,LUL Travelcard-7 Day,158
1757047,7,Sat,LUL,Uxbridge,Edgware,672,11:12,833,13:53,-------,PPY,N,220,220,PAYG,161
152210,4,Wed,LUL/NR,Hainault,Watford Junction,1030,17:10,1192,19:52,-------,PPY,N,700,700,PAYG,162

In [18]:
# now i want to remove where people tapped in and out of the station Canary Wharf E2 and Canary Wharf

df = df[(df['StartStn'] != 'Canary Wharf E2') | (df['EndStation'] != 'Canary Wharf')]
df = df[(df['StartStn'] != 'Canary Wharf') | (df['EndStation'] != 'Canary Wharf E2')]

df[df['JourneyDuration'] >= 1]
df

,downo,daytype,SubSystem,StartStn,EndStation,EntTime,EntTimeHHMM,ExTime,EXTimeHHMM,ZVPPT,JNYTYP,DailyCapping,FFare,DFare,FinalProduct,JourneyDuration
391202,6,Fri,NR,Liverpool St NR,Liverpool St WAGN TOC Gates,1093,18:13,1094,18:14,-------,PPY,N,0,0,PAYG,1
1268154,5,Thu,NR,Liverpool St NR,Liverpool St WAGN TOC Gates,489,08:09,490,08:10,-------,PPY,N,0,0,PAYG,1
2145202,2,Mon,LUL,Victoria,St James's Park,841,14:01,842,14:02,Z0110,TKT,N,0,0,Staff Pass - Staff Nominee,1
764667,5,Thu,NR,Liverpool St NR,Liverpool St WAGN TOC Gates,1273,21:13,1274,21:14,Z0110,TKT,N,0,0,Freedom Pass (Elderly),1
439939,5,Thu,NR,Liverpool St NR,Liverpool St WAGN TOC Gates,1108,18:28,1109,18:29,-------,PPY,N,0,0,PAYG,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1595412,5,Thu,LUL/LRC,Watford High Street,Heathrow Terms 123,593,09:53,742,12:22,-------,PPY,N,300,300,PAYG,149
2351343,6,Fri,LUL,Dagenham Heathway,Heathrow Terms 123,920,15:20,1071,17:51,-------,PPY,N,220,220,PAYG,151
2009501,7,Sat,LUL,Gants Hill,Heathrow Term 4,785,13:05,943,15:43,Z0104,MIX,N,110,110,LUL Travelcard-7 Day,158
1757047,7,Sat,LUL,Uxbridge,Edgware,672,11:12,833,13:53,-------,PPY,N,220,220,PAYG,161
152210,4,Wed,LUL/NR,Hainault,Watford Junction,1030,17:10,1192,19:52,-------,PPY,N,700,700,PAYG,162

In [19]:
# now i want to remove where people tapped in and out of the station Liverpool St NR and Liverpool St WAGN TOC Gates

df = df[(df['StartStn'] != 'Liverpool St NR') | (df['EndStation'] != 'Liverpool St WAGN TOC Gates')]
df = df[(df['StartStn'] != 'Liverpool St WAGN TOC Gates') | (df['EndStation'] != 'Liverpool St NR')]

df[df['JourneyDuration'] >= 1]
df

,downo,daytype,SubSystem,StartStn,EndStation,EntTime,EntTimeHHMM,ExTime,EXTimeHHMM,ZVPPT,JNYTYP,DailyCapping,FFare,DFare,FinalProduct,JourneyDuration
2145202,2,Mon,LUL,Victoria,St James's Park,841,14:01,842,14:02,Z0110,TKT,N,0,0,Staff Pass - Staff Nominee,1
1934903,3,Tue,NR,Fenchurch St NR,FENCHURCH ST NR,753,12:33,754,12:34,-------,PPY,N,0,0,PAYG,1
1368320,5,Thu,NR,Fenchurch St NR,FENCHURCH ST NR,514,08:34,515,08:35,-------,PPY,N,0,0,PAYG,1
734829,2,Mon,LUL,Northfields,South Ealing,1250,20:50,1252,20:52,Z0204,TKT,N,0,0,LUL Travelcard-1 Month,2
2314461,4,Wed,LUL,Great Portland St,Euston Square,908,15:08,910,15:10,-------,PPY,N,160,160,PAYG,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1595412,5,Thu,LUL/LRC,Watford High Street,Heathrow Terms 123,593,09:53,742,12:22,-------,PPY,N,300,300,PAYG,149
2351343,6,Fri,LUL,Dagenham Heathway,Heathrow Terms 123,920,15:20,1071,17:51,-------,PPY,N,220,220,PAYG,151
2009501,7,Sat,LUL,Gants Hill,Heathrow Term 4,785,13:05,943,15:43,Z0104,MIX,N,110,110,LUL Travelcard-7 Day,158
1757047,7,Sat,LUL,Uxbridge,Edgware,672,11:12,833,13:53,-------,PPY,N,220,220,PAYG,161
152210,4,Wed,LUL/NR,Hainault,Watford Junction,1030,17:10,1192,19:52,-------,PPY,N,700,700,PAYG,162

In [20]:
# now i want to remove where people tapped in and out of the station Liverpool St NR and Liverpool St WAGN TOC Gates

df = df[(df['StartStn'] != 'Fenchurch St NR') | (df['EndStation'] != 'FENCHURCH ST NR')]
df = df[(df['StartStn'] != 'FENCHURCH ST NR') | (df['EndStation'] != 'Fenchurch St NR')]

df[df['JourneyDuration'] >= 1]
df

,downo,daytype,SubSystem,StartStn,EndStation,EntTime,EntTimeHHMM,ExTime,EXTimeHHMM,ZVPPT,JNYTYP,DailyCapping,FFare,DFare,FinalProduct,JourneyDuration
2145202,2,Mon,LUL,Victoria,St James's Park,841,14:01,842,14:02,Z0110,TKT,N,0,0,Staff Pass - Staff Nominee,1
734829,2,Mon,LUL,Northfields,South Ealing,1250,20:50,1252,20:52,Z0204,TKT,N,0,0,LUL Travelcard-1 Month,2
2314461,4,Wed,LUL,Great Portland St,Euston Square,908,15:08,910,15:10,-------,PPY,N,160,160,PAYG,2
2159635,5,Thu,LUL,Westminster,St James's Park,847,14:07,849,14:09,-------,PPY,N,160,160,PAYG,2
627709,2,Mon,LUL,Upton Park,Plaistow,1181,19:41,1183,19:43,Z0110,TKT,N,0,0,Freedom Pass (Elderly),2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1595412,5,Thu,LUL/LRC,Watford High Street,Heathrow Terms 123,593,09:53,742,12:22,-------,PPY,N,300,300,PAYG,149
2351343,6,Fri,LUL,Dagenham Heathway,Heathrow Terms 123,920,15:20,1071,17:51,-------,PPY,N,220,220,PAYG,151
2009501,7,Sat,LUL,Gants Hill,Heathrow Term 4,785,13:05,943,15:43,Z0104,MIX,N,110,110,LUL Travelcard-7 Day,158
1757047,7,Sat,LUL,Uxbridge,Edgware,672,11:12,833,13:53,-------,PPY,N,220,220,PAYG,161
152210,4,Wed,LUL/NR,Hainault,Watford Junction,1030,17:10,1192,19:52,-------,PPY,N,700,700,PAYG,162

In [21]:
df = df[~df['SubSystem'].str.contains('HEX')]
df

,downo,daytype,SubSystem,StartStn,EndStation,EntTime,EntTimeHHMM,ExTime,EXTimeHHMM,ZVPPT,JNYTYP,DailyCapping,FFare,DFare,FinalProduct,JourneyDuration
2145202,2,Mon,LUL,Victoria,St James's Park,841,14:01,842,14:02,Z0110,TKT,N,0,0,Staff Pass - Staff Nominee,1
734829,2,Mon,LUL,Northfields,South Ealing,1250,20:50,1252,20:52,Z0204,TKT,N,0,0,LUL Travelcard-1 Month,2
2314461,4,Wed,LUL,Great Portland St,Euston Square,908,15:08,910,15:10,-------,PPY,N,160,160,PAYG,2
2159635,5,Thu,LUL,Westminster,St James's Park,847,14:07,849,14:09,-------,PPY,N,160,160,PAYG,2
627709,2,Mon,LUL,Upton Park,Plaistow,1181,19:41,1183,19:43,Z0110,TKT,N,0,0,Freedom Pass (Elderly),2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1595412,5,Thu,LUL/LRC,Watford High Street,Heathrow Terms 123,593,09:53,742,12:22,-------,PPY,N,300,300,PAYG,149
2351343,6,Fri,LUL,Dagenham Heathway,Heathrow Terms 123,920,15:20,1071,17:51,-------,PPY,N,220,220,PAYG,151
2009501,7,Sat,LUL,Gants Hill,Heathrow Term 4,785,13:05,943,15:43,Z0104,MIX,N,110,110,LUL Travelcard-7 Day,158
1757047,7,Sat,LUL,Uxbridge,Edgware,672,11:12,833,13:53,-------,PPY,N,220,220,PAYG,161
152210,4,Wed,LUL/NR,Hainault,Watford Junction,1030,17:10,1192,19:52,-------,PPY,N,700,700,PAYG,162

In [22]:
# Saving the modified dataset to a new CSV file
df.to_csv('modified', index=False)